@charset "utf-8";

/* ========== for the whole part ========== */
html, body {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    background: white;
}

body, div, p, h1, h2, h3, h4, ul, figure {
    margin: 0;
    padding: 0;
}

p, td, th, li {
    line-height: 1.8;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #ffffff;
}

a:hover {
    color: black;
}

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ========== header ========== */
.header-container {
    background: #b3cccc;
    margin-left: 0;
    margin-right: 0;
}

.header-inner {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.header-title {
    display: inline;
    margin-right: 30px;
}

.navbar {
    list-style-type: none;
}


.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
}



